* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: whitesmoke;
}

.hero {
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: white;
    position: relative;
}


.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #4d47cc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
    z-index: 1000;
}

.logo {
    color: white;
    font-size: 30px;
    font-weight: 900;
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.logo img {
    width: 50px;
    border-radius: 90px;
    margin-bottom: 1px;
    margin-right: 10px;
}

.nav-link ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-link ul a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    }

    .nav-link ul a:hover {
    color: gold;
    text-decoration: underline;
} 
