
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: whitesmoke;
}

.hero {
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: white;
    position: relative;
}


.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #4d47cc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
    z-index: 1000;
}

.logo {
    color: white;
    font-size: 30px;
    font-weight: 900;
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.logo img {
    width: 50px;
    border-radius: 90px;
    margin-bottom: 1px;
    margin-right: 10px;
}

.nav-link ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-link ul a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    }

    .nav-link ul a:hover {
    color: gold;
    text-decoration: underline;
} 


.container {
    display: flex;
    gap: 40px;
    background: #fff;
    padding: 30px;
}

.info {
    width: 45%;
    font-size: 14px;
    line-height: 1.6;
}

.footer-text {
    margin-top: 20px;
    font-weight: bold;
}

.form-area {
    width: 55%;
    padding: 0;
}

.blessing {
    text-align: center;
    font-size: 14px;
    margin-bottom: 20px;
}

form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin-top: 0;
}

label {
    font-size: 13px;
    font-weight: bold;
}

input, select {
    padding: 8px;
    border: 1px solid #ccc;
    width: 100%;
}

.qr-section {
    display: flex;
    justify-content: space-around;
    background: #fff;
    padding: 30px;
    margin-top: 20px;
}

.qr-box {
    text-align: center;
    width: 40%;
}

.qr-box img {
    width: 180px;
    margin-top: 10px;
}